.main {
    min-height: 660px;
    padding: 20px 0;
}

.main__img {
    padding: 20px;
    width: 100%;
    background-color: var(--white-color );
}

.main__img img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: contain;
}

.main__detail {
    padding: 40px 50px 20px;
}

.main__detail-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
}

.main__detail-name {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.main__detail-descoration {
    margin-top: 20px;
    font-size: 14px;
    color: #68707d;
}

.main__detail-price {
    margin-top: 20px;
    position: relative;
}

.main__detai-price--new {
    color: #1d2025;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 4px;
}

.main__detai-price--old {
    color: #b6bcc8;
    font-size: 13px;
    text-decoration: line-through;
}

.main__detail-price--percent {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--white-color    );
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    position: absolute;
    left: 163px;
    top: 2px;
}

.main__detail-quanlity {
    border: 2px solid var(--main-color);
    width: fit-content;
    border-radius: 6px;
}

.main__detail-quanlity span {
    display: inline-block;
    padding: 10px 14px;
    width: 40px;
}

.main__detail-quanlity input {
    outline: none;
    border: none;
    width: 40px;
    text-align: center;
    background-color: transparent;
}

.main__detail-quanlity input::-webkit-outer-spin-button,
.main__detail-quanlity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main__detail-quanlity span:not(:nth-child(2)):hover {
    cursor: pointer;
}

.main__detail-buy {
    width: 50%;
    position: absolute;
    bottom: -7px;
    right: 0;
    height: 50px;
    border: none;
    outline: none;
    font-weight: 600;
    border: 3px solid var(--main-color);
    border-radius: 8px;
    transition: all 0.15s ease;
}

.main__detail-buy i {
    margin-right: 12px;
}

.main__detail-buy:hover{
    border-color:var(--hover-color);
    background-color:var(--hover-color);
    color: var(--white-color);
}

@media (min-width: 740px) and (max-width: 1023px) {
    .main__img {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .main__img img {
        width: 50%;
    }

    .main__detail-name {
        font-size: 24px;
    }

    .main__detail-descoration {
        margin-top: 8px;
        font-size: 13px;
    }

    .main__detail-price {
        margin-top: 12px;
    }

    .main__detai-price--new {
        font-size: 22px;
    }

    .main__detail-price--percent {
        left: 140px;
    }
}

/* mobile */
@media (max-width: 739px) {
    .main__img {
        height: 350px;
        margin: 0 auto;
    }

    .main__img img{
        transform: scale(0.8);
    }

    .main__detail {
        padding: 32px 12px 12px;
    }

    .main__detail-name {
        font-size: 22px;
    }

    .main__detail-descoration {
        margin-top: 8px;
        font-size: 13px;
    }

    .main__detai-price--new {
        font-size: 20px;
    }

    .main__detail-price--percent {
        font-size: 16px;
        padding: 2px 6px;
        left: 130px;
        margin-bottom: 0;
    }

    .main__detai-price--old {
        font-size: 12px;
    }

    .main__detail-quanlity span {
        font-size: 10px;
        width: 28px;
    }

    .main__detail-quanlity input {
        font-size: 14px;
        width:25px
    }

    .main__detail-buy {
        right: 52px;
        width: 42%;
        height: 40px;
        font-size: 10px;
    }

    .main__detail-buy i {
        margin-right: 8px;
    }
}
