@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        --bs-gutter-x: 0px;
    }
    /* NAVBAR */
    .nav-logo {
        width: 110px;
    }

    .nav-search {
        height: 40px;
        width: 320px;
    }

    .nav-search--wrap input {
        font-size: 12px;
    }

    .nav-search--btn {
        width: 50px;
    }

    .nav-search--btn i {
        font-size: 12px;
    }

    .nav-search--item {
        padding: 12px 20px;
    }

    .nav-search--item img {
        width: 44px;
    }

    .nav-search--item span {
        font-size: 14px;
    }

    .nav-link {
        padding: 0 12px;
    }

    .nav-link span {
        font-size: 13px;
    }

    .nav-cart--quanlity {
        top: -15px;
        left: 31px;
    }

    .nav-cart img {
        width: 24px;
        height: 24px;
    }

    /* CATEGORY */
    .category-item {
        padding: 10px 16px;
    }

    .category-item:first-child > span,
    .category-item:first-child > i {
        font-size: 16px;
    }

    .category-item > a {
        font-size: 14px;
    }

    /* MAIN */
    .main {
        --pd: 6px;
    }

    .slide-right {
        display: none;
    }

    .product {
        padding-top: 20px;
    }

    .product-title {
        font-size: 16px;
    }

    .product-name {
        font-size: 13px;
    }

    .product-price {
        padding-top: 0;
    }

    .product-price--new {
        font-size: 13px;
    }

    .product-price--old {
        font-size: 10px;
    }

    .banner {
        display: none;
    }

    .brand-title {
        font-size: 16px;
    }

    .brand-item {
        width: 75px;
    }

    /* FOOTER */

    .footer-list {
        padding: 12px 24px;
    }

    .footer-wrap {
        padding-top: 12px;
    }

    .footer-info {
        padding-bottom: 12px;
    }

    .footer-title {
        font-size: 15px;
    }

    .footer-content p {
        font-size: 13px;
    }

    .footer-info .footer-wrap:last-child {
        padding-top: 16px;
    }

    .footer-contact {
        padding: 12px 0;
    }

    .footer-contact .footer-wrap:not(:first-child) {
        padding-top: 20px;
    }

    .footer-content input {
        flex: unset;
        width: 70%;
    }

    /* SUPPORT */
    .support-item--img {
        width: 40px;
        height: 40px;
    }

    .support-toTo {
        width: 44px;
        height: 44px;
        margin-top: 60px;
    }

    /* ALERT */
    .alerts {
        right: 10px;
    }

    .alert {
        min-width: 180px;
        padding: 8px;
    }

    .alert p {
        font-size: 12px;
    }
}

@media (max-width: 739px) {
    /* DROPDOWN */
    .dropdown {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        display: block;
        transition: all 0.3s ease;
        opacity: 0;
        visibility: hidden;
    }

    .dropdown-overlay{
        position: absolute;
        width:100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .dropdown-body {
        width: 77%;
        height: 100%;
        background-color: #f5f6fa;
        transform: translateX(-100%);
        transition: all 0.3s ease;
        z-index: 10000;
    }

    .dropdown--list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .dropdown--top {
        display: flex;
        background-color: #0abde3;
        height: fit-content;
        padding-left: 12px;
    }

    .dropdown--top > i {
        margin: auto 0;
        font-size: 24px;
        color: #fff;
    }

    .dropdown--top > div {
        display: flex;
        flex-direction: column;
    }

    .dropdown--top > div a {
        padding: 8px 24px;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
    }

    .dropdown--top > div a:first-child {
        font-size: 18px;
    }

    .dropdown--main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .dropdown--main a {
        padding: 12px 24px;
        font-size: 16px;
        text-decoration: none;
        color: #111;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    .dropdown--bottom {
        height: 200px;
        padding-left: 24px;
    }

    .dropdown--bottom a {
        text-decoration: none;
        font-size: 14px;
        display: block;
        color: #111;
    }

    .dropdown--bottom a span {
        color: #0abde3;
    }

    /* NAV */
    .nav {
        min-height: 110px;
        padding: 12px 0;
    }

    .nav-wrap {
        flex-direction: column;
        position: relative;
    }

    .nav-menu {
        display: block;
        position: absolute;
        left: 13px;
        top: 6px;
    }

    .nav-menu > i {
        font-size: 24px;
        color: #fff;
    }

    .nav-logo {
        width: 110px;
    }

    .nav-search {
        height: 40px;
        width: 250px;
        order: 1;
        width: 100%;
        margin-top: 12px;
    }

    .nav-search--wrap input {
        font-size: 12px;
    }

    .nav-search--btn {
        width: 40px;
    }

    .nav-list {
        /* display: none; */
        height: unset;
    }

    .nav-item:last-child {
        display: none;
    }

    .nav-item:first-child {
        position: absolute;
        top: 0;
        right: 0;
    }

    .nav-cart img {
        width: 24px;
        height: 24px;
    }

    .nav-cart span {
        font-size: 12px;
    }

    .nav-cart--quanlity {
        top: -8px;
        left: 39px;
    }

    .nav-search--item {
        padding: 6px 16px;
        min-height: 60px;
    }

    .nav-search--item span {
        font-size: 14px;
    }

    /* CATEGORTY */
    .category {
        margin-top: 122px;
        background-color: #fff;
    }

    .category-item:not(:first-child) {
        display: none;
    }

    .category-item:first-child {
        width: 100%;
        padding: 10px 16px;
    }

    .category-item:first-child > * {
        font-size: 14px !important;
    }

    .category-item--wrap a {
        font-size: 13px;
    }

    /* MAIN */
    .main {
        padding: 12px 0 16px;
    }

    .slider {
        display: none;
    }
    .product-title {
        font-size: 14px;
    }

    .product-wrap {
        padding-top: 12px;
    }

    .product-name {
        font-size: 12px;
    }

    .product-price {
        font-size: 12px;
        padding-top: 0;
    }

    .product-price--old {
        font-size: 10px;
    }

    .banner {
        display: none;
    }

    .brand-title {
        width: fit-content;
        padding: 0 12px;
        font-size: 12px;
    }

    .brand-list {
        margin-top: 20px;
    }

    .brand-item {
        width: 40px;
    }

    /* FOOTER */
    .footer .row {
        margin-right: unset;
    }

    .footer-container {
        max-width: unset;
    }

    .footer-list {
        padding-top: 20px;
        padding-left: 12px;
    }

    .footer-info {
        padding-bottom: 16px;
    }

    .footer-title {
        font-size: 14px;
    }

    .footer-content p {
        font-size: 12px;
        margin-bottom: 12px;
    }

    .footer-content input {
        width: 70%;
        height: 34px;
        flex: unset;
        font-size: 12px;
    }

    .footer-content button {
        height: 34px;
        width: 70px;
    }

    .footer-contact {
        padding: 16px 0 0;
    }

    .footer-contact .footer-wrap {
        margin-bottom: 32px;
    }

    .footer-content--contact > div {
        width: 25px;
        height: 25px;
    }

    .footer-license p {
        font-size: 12px;
    }

    /* SUPPORT */
    .support {
        right: 18px;
    }

    .support-item--img {
        width: 34px;
        height: 34px;
    }

    .support-item--content {
        font-size: 10px;
        padding: 8px;
    }

    .support-toTo {
        margin-top: 60px;
        width: 38px;
        height: 38px;
    }

    /* ALERT */
    .alerts{
        right: -6px;
        top: 110px;
    }

    .alert{
        min-width: 190px;
        padding: 8px;
        margin-top: 10px;
        opacity: 0.8;
    }

    .alert p{
        font-size: 12px;
    }
}
